{{>header}}
  <h1>2019 Photos - December</h1>
  <a href="./images/2019/december_04/20191204 - 1.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 1.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 2.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 2.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 3.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 3.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 4.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 4.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 5.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 5.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 6.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 6.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 7.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 7.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 8.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 8.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 9.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 9.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 10.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 10.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 11.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 11.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 12.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 12.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 13.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 13.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 14.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 14.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 15.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 15.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 16.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 16.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 17.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 17.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 18.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 18.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 19.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 19.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 20.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 20.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 21.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 21.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 22.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 22.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 23.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 23.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 24.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 24.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 25.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 25.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 26.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 26.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 27.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 27.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 28.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 28.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 29.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 29.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 30.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 30.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 31.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 31.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 32.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 32.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 33.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 33.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 34.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 34.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 35.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 35.jpeg"></a>
  <a href="./images/2019/december_04/20191204 - 36.jpeg" target="_blank"></a><img src="./images/2019/december_04/20191204 - 36.jpeg"></a>
</body>
</html>