{{>header}}
  <h1>2019 Photos - December</h1>
  <img src="./images/2019/december_04/20191204 - 1.jpeg">
  <img src="./images/2019/december_04/20191204 - 2.jpeg">
  <img src="./images/2019/december_04/20191204 - 3.jpeg">
  <img src="./images/2019/december_04/20191204 - 4.jpeg">
  <img src="./images/2019/december_04/20191204 - 5.jpeg">
  <img src="./images/2019/december_04/20191204 - 6.jpeg">
  <img src="./images/2019/december_04/20191204 - 7.jpeg">
  <img src="./images/2019/december_04/20191204 - 8.jpeg">
  <img src="./images/2019/december_04/20191204 - 9.jpeg">
  <img src="./images/2019/december_04/20191204 - 1.jpeg">
  <img src="./images/2019/december_04/20191204 - 10.jpeg">
  <img src="./images/2019/december_04/20191204 - 11.jpeg">
  <img src="./images/2019/december_04/20191204 - 12.jpeg">
  <img src="./images/2019/december_04/20191204 - 13.jpeg">
  <img src="./images/2019/december_04/20191204 - 14.jpeg">
  <img src="./images/2019/december_04/20191204 - 15.jpeg">
  <img src="./images/2019/december_04/20191204 - 16.jpeg">
  <img src="./images/2019/december_04/20191204 - 17.jpeg">
  <img src="./images/2019/december_04/20191204 - 18.jpeg">
  <img src="./images/2019/december_04/20191204 - 19.jpeg">
  <img src="./images/2019/december_04/20191204 - 20.jpeg">
  <img src="./images/2019/december_04/20191204 - 21.jpeg">
  <img src="./images/2019/december_04/20191204 - 22.jpeg">
  <img src="./images/2019/december_04/20191204 - 23.jpeg">
  <img src="./images/2019/december_04/20191204 - 24.jpeg">
  <img src="./images/2019/december_04/20191204 - 25.jpeg">
  <img src="./images/2019/december_04/20191204 - 26.jpeg">
  <img src="./images/2019/december_04/20191204 - 27.jpeg">
  <img src="./images/2019/december_04/20191204 - 28.jpeg">
  <img src="./images/2019/december_04/20191204 - 29.jpeg">
  <img src="./images/2019/december_04/20191204 - 30.jpeg">
  <img src="./images/2019/december_04/20191204 - 31.jpeg">
  <img src="./images/2019/december_04/20191204 - 32.jpeg">
  <img src="./images/2019/december_04/20191204 - 33.jpeg">
  <img src="./images/2019/december_04/20191204 - 34.jpeg">
  <img src="./images/2019/december_04/20191204 - 35.jpeg">
  <img src="./images/2019/december_04/20191204 - 36.jpeg">
</body>
</html>